<!DOCTYPE html>
<html>
<head>
<title>AMIP</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
	<div id="wrapper">
		<span>AMIP</span>
		<label>Convert *Any article to an Image</label>
		<form action="/maip" method="POST">
			<input type="text" placeholder="Article Link" name="article_link"/>
			<input type="submit" value="DO IT" />
		</form>
	</div>
</body>
</html>